@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 129, 11, 45, 0.7;
  --background-end-rgb: 255, 255, 255;
  --padding-content: 5.75rem;
  --margin-content-top: 4rem;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* main,
header,
footer {
  padding-left: var(--padding-content) !important;
  padding-right: var(--padding-content) !important;
} */
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(45, 40, 39);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
* {
  padding: 0;
  margin: 0;
  appearance: none;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
